@model BookStore.Models.User

<div class="card">
    <div class="card-header">
        <i class="fas fa-user"></i> @Model.FirstName @Model.LastName
    </div>
    <div class="card-body">
        <a class="text-secondary" href="/profile/edit">Edit Profile</a><br />
        <a class="text-secondary" href="/useradress/index">Address</a><br />
        <a class="text-secondary" href="/productcomment/index">Değerlendirmelerim</a><br />
        <a class="text-secondary" href="/profile/edit">Edit Profile</a><br />
        <a class="text-secondary" href="/profile/edit">Şifre Değişikliği</a><br />
    </div>
</div>
