<!-- model //User-->

@{
   // ViewBag.Title = "Index";
}

<!--<div class="row mt-5 mb-5">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <i class="fas fa-user"></i> Model.Name Model.Surname
            </div>
            <div class="card-body">
                <a class="text-secondary" href="/profile/edit">Siparişlerim</a><br />
                <a class="text-secondary" href="/useradress/index">Adresslerim</a><br />
                <a class="text-secondary" href="/productcomment/index">Değerlendirmelerim</a><br />
                <a class="text-secondary" href="/profile/edit">Hesabımı Bilgileri</a><br />
                <a class="text-secondary" href="/profile/edit">Şifre Değişikliği</a><br />
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-body">
                <h2>Hesabım</h2>
                <p>
                    "Hesabım" sayfasından siparişlerinizi ve arıza/iade/değişim işlemlerinizi takip edebilir; kazandığınız hediye çeki ve puanları görüntüleyebilir; üyelik bilgisi güncelleme, şifre ve adres değişikliği gibi hesap ayarlarınızı kolayca yapabilirsiniz.
                </p>
                <p>
                    Size özel fırsatlar ve dönemsel kampanyalar da bu sayfada duyurulur.
                </p>
            </div>
        </div>

    </div>
</div>
    -->